wslwinreg
burger
makeprojects
breathe
doxypypy
Sphinx
sphinx_rtd_theme
recommonmark
tox
pylint
pytest
pypandoc
wheel
setuptools
virtualenv
urllib3
SQLAlchemy
twine
six
pyflakes
glob2
enum34
autopep8
flake8
